.breadcrumb {
    background-color: #ffffff;
    border-bottom: 1px solid #e9ecef;
}
.checkbox label {
    margin-left: 10px;
    margin-right: 20px;
}
.created-date select {
    margin-right: 10px;
}
.top-15 {
    margin-top: 15px;
}
.top-10 {
    margin-top: 10px;
    margin-bottom: 15px;
}
.top-10-active {
    margin-top: 10px;
    margin-left: 10px;
}